.form-container {
  .cta-container {
    background-color: var(--secondary-black);

    h2 {
      color: var(--primary);
    }

    .form-wrapper {
      padding: 1rem;
    }
  }

  .btn-primary {
    border: none;
    margin-top: 1rem;
    width: 100%;

    cursor: pointer;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  align-items: flex-end;

  input,
  textarea {
    background: transparent;
    border: 1px solid var(--dark-grey);
    padding: 12px 14px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    width: 100%;

    &:focus {
      border-color: var(--primary);
    }
  }

  textarea {
    resize: none;
  }


}

.form-success {
  color: #4ade80;
  margin-top: 10px;
}

.form-error {
  color: #f87171;
  margin-top: 10px;
}