.home-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social-links-wrapper {
    display: flex;
    gap: 1.5rem;

    .social-link{
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        background-color: var(--primary);
        justify-content: center;
        align-items: center;

        svg{
            width: 14px;
            
        }
    }
}

.typing {
  position: relative;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
