:root {
  --primary: #FFB400;
  --secondary: #2B2B2B;
  --white: #FFFFFF;
  --black: #000;
  --off-white: #F8F8F8;
  --grey: #D9D9D9;
  --light-grey: #F5F5F5;
  --dark-grey: #ACACAC;
  --secondary-black: #3C3B3B;
  --dark-yellow: #f5ac03;
}

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  color: var(--black);
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 150%;
}

@media screen and (max-width: 750px) {
  body {
    line-height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.bg-dark {
  background-color: var(--secondary);
}

.bg-white {
  background-color: var(--white);
}

.bg-off-white {
  background-color: var(--off-white);
}

.section-padding-top {
  padding-top: 4rem;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 660px) {
  .section-padding-top {
    padding-top: 2rem;
  }
}

.section-padding-bottom {
  padding-bottom: 4rem;
}
@media screen and (max-width: 660px) {
  .section-padding-bottom {
    padding-bottom: 2rem;
  }
}

section {
  width: calc(100% - 72px);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.highlight{
  color: var(--primary);
}

.align-center {
  margin: auto;
}

h1, .h1 {
  font-size: 3em;
  font-weight: 600;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 52.8px */
letter-spacing: 0.48px;
margin: 0;
}
@media screen and (min-width: 1280px) {
  h1, .h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 660px) {
  h1, .h1 {
    font-size: 32px;
  }
}

h2, .h2 {
  line-height: 140%;
  margin: 0;
  font-size: 2em;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  h2, .h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 660px) {
  h2, .h2 {
    font-size: 26px;
  }
}

h3, .h3 {
  line-height: 140%;
  margin: 0;
  font-size: 1.75em;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  h3, .h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 660px) {
  h3, .h3 {
    font-size: 18px;
  }
}

h4, .h4 {
  line-height: 120%;
  margin: 0;
  font-size: 1.25em;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  h4, .h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 660px) {
  h4, .h4 {
    font-size: 16px;
  }
}

h5, .h5 {
  line-height: 110%;
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  h5, .h5 {
    font-size: 18px;
  }
}
@media screen and (max-width: 660px) {
  h5, .h5 {
    font-size: 16px;
  }
}

h6, .h6 {
  line-height: 110%;
  margin: 0;
  font-size: 1em;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  h6, .h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 660px) {
  h6, .h6 {
    font-size: 16px;
  }
}


p {
  margin: 0;
}

h2 + p {
  margin-top: 1rem;
}

.description-text {
  max-width: 860px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  border: 2px solid;
}

// p + p, p + a {
//   margin-top: 1.5rem;
// }

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.btn-primary {
  display: flex;
padding: 16px 32px;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: var(--primary, #FFB400);
width: fit-content;
text-transform: uppercase;
font-size: 1em;
font-style: normal;
font-weight: 550;
line-height: 100%;
transition: all 0.8s ease;
border: 2px solid var(--dark-yellow);

&:hover {
  border: 2px solid var(--primary);
  background-color: var(--dark-yellow);
}

.btn-arrow {
    transition: transform 0.8s ease;
    width: 14px;
    height: auto;
  }

  &:hover .btn-arrow {
    transform: translateX(4px);
  }
}

.bullet-section-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    .item {
        display: flex;
        gap: 1rem;
        width: 100%;

        .bullet-line-wrapper {
            width: 30px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .bullet {
                width: 1rem;
                height: 1.35rem;
                border-radius: 100%;
                background-color: var(--primary);
            }

            .bullet-blank {
                width: 1rem;
                height: 1.35rem;
                border-radius: 100%;
                border: 2px solid var(--primary);
            }

            .bullet-line {
                width: 2px;
                height: 100%;
                background-color: var(--primary);
            }

            .bullet-line-invis {
                width: 2px;
                height: 48px;
            }

            .bullet-line-vis {
                width: 2px;
                height: 48px;
                background-color: var(--primary);
            }
        }

        .card {
            text-align: left;
            padding: 1.5rem;
            margin-bottom: 1.5rem;

            .card-heading {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-weight: 500;
                }

                h5 {
                    font-weight: 550;
                    color: var(--primary);
                }
            }

            .duration-block {
                padding: 0.5rem 1rem;
                background-color: var(--light-grey);
                color: var(--secondary-black);
                font-weight: 550;
                height: fit-content;
                border-radius: 18px;
            }
        }
    }
}