.skills-list-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 1.5rem;
    margin-top: 3rem;

    .card {
        border-color: var(--dark-grey);
        background-color: var(--white);
        padding: 1.5rem 1.25rem;
        align-items: flex-start;

        p {
            text-align: left;
            color: var(--secondary-black);
        }

        .title-section {
            display: flex;
            gap: 14px;
            width: 100%;

            h4 {
                line-height: 2;
            }

            .icon-wrapper {
                width: 3rem;
                height: 3rem;
                background-color: var(--light-grey);
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}

.skill-percentage-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.skill-bar {
    width: 100%;
    height: 8px;
    background: #e5e5e5;
    border-radius: 6px;
    overflow: hidden;
  }

  .skill-progress {
    height: 100%;
    background: var(--primary);
    border-radius: 6px;
    transition: width 0.8s ease;
  }

  .skill-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    p {
        font-weight: 550;
    }

    .percentage {
        color: var(--primary) !important;
    }

  }

  .freelancer-dark {
    .skills-list-section {
        .card {
            background-color: var(--secondary);
            border-color: var(--dark-grey);

            .icon-wrapper {
                background-color: var(--secondary-black);
            }
        }
    }
  }