.testimonial-slider {
        height: 350px;             // visible area
  overflow: hidden;
  position: relative;
  touch-action: pan-y;

   /* PAUSE animation when hovering */
  &:hover .testimonial-track {
    animation-play-state: paused;
  }

  /* PAUSE animation while swiping */
  &.dragging .testimonial-track {
    animation-play-state: paused;
  }

  /* vertical track */
.testimonial-track {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: verticalSlide 12s infinite;
  transition: transform 0.4s ease;
}
    .card {
        width: 100%;
        border-color: var(--light-grey);
        background-color: var(--secondary);
        padding: 1.5rem 1rem;
        min-height: 200px;       
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > p {
          color: var(--dark-grey) !important;
          text-align: center !important;
        }

        h4 {
          color: var(--primary) !important;
        }

        .star-wrapper {
          display: flex;
          gap: 0.25rem;
          justify-content: flex-end;

          img {
            width: 1rem;
          }
        }

        .client-details-wrapper {
          display: flex;
          gap: 1rem;
          align-items: center;

          .client-image-wrapper {
          border-radius: 100%;
          width: 3rem;
          height: 3rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
          }
        }

        .client-details {
          display: flex;
          flex-direction: column;
        }
        }
    }
}




.testimonial-slider::before,
.testimonial-slider::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
  pointer-events: none;
}

.testimonial-slider::before {
  top: 0;
  background: linear-gradient(to bottom, var(--bg-dark), transparent);
}

.testimonial-slider::after {
  bottom: 0;
  background: linear-gradient(to top, var(--bg-dark), transparent);
}

@keyframes verticalSlide {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(0); }

  33%  { transform: translateY(-220px); }
  58%  { transform: translateY(-220px); }

  66%  { transform: translateY(-440px); }
  91%  { transform: translateY(-440px); }

  100% { transform: translateY(0); }
}
