/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import "../styles/main.scss";
@import "../styles/sidebar.scss";
@import "../styles/home.scss";
@import "../styles/skills.scss";
@import "../styles/projects.scss";
@import "../styles/education.scss";
@import "../styles/experience.scss";
@import "../styles/footer.scss";
@import "../styles/logo-track.scss";
@import "../styles/process.scss";
@import "../styles/testimonials.scss";
@import "../styles/landing-page.scss";
@import "../styles/cta.scss";
@import "../styles/form.scss";


